<clickhouse replace="true">
    <logger>
        <level>debug</level>
        <console>1</console>
    </logger>
    <display_name>cluster_2S_1R node 1</display_name>
    <listen_host>0.0.0.0</listen_host>
    <http_port>8123</http_port>
    <tcp_port>9000</tcp_port>
    <user_directories>
        <users_xml>
            <path>users.xml</path>
        </users_xml>
        <local_directory>
            <path>/var/lib/clickhouse/access/</path>
        </local_directory>
    </user_directories>
    <distributed_ddl>
        <path>/clickhouse/task_queue/ddl</path>
    </distributed_ddl>
    <remote_servers>
        <cluster_2S_1R>
            <shard>
                <replica>
                    <host>xatu-clickhouse-01</host>
                    <port>9000</port>
                    <password from_env="CLICKHOUSE_PASSWORD" replace="replace"></password>
                </replica>
            </shard>
            <shard>
                <replica>
                    <host>xatu-clickhouse-02</host>
                    <port>9000</port>
                    <password from_env="CLICKHOUSE_PASSWORD" replace="replace"></password>
                </replica>
            </shard>
        </cluster_2S_1R>
    </remote_servers>
    <zookeeper>
        <node>
            <host>xatu-clickhouse-zookeeper-01</host>
            <port>2181</port>
        </node>
        <node>
            <host>xatu-clickhouse-zookeeper-02</host>
            <port>2181</port>
        </node>
        <node>
            <host>xatu-clickhouse-zookeeper-03</host>
            <port>2181</port>
        </node>
    </zookeeper>
    <macros>
        <installation>xatu</installation>
        <cluster>cluster_2S_1R</cluster>
        <shard>01</shard>
        <replica>01</replica>
    </macros>
</clickhouse>
