logging: "trace" # panic,fatal,warn,info,debug,trace
addr: ":8080"
metricsAddr: ":9090"
# pprofAddr: ":6060" # optional. if supplied it enables pprof server

labels:
  ethpandaops: rocks
 
# Better to use a NTP server close eg.
#   time.aws.com - AWS
#   time.windows.com - Azure
#   time.google.com - GCP
#   pool.ntp.org - https://www.pool.ntp.org/zone/@
ntpServer: time.google.com

persistence:
  enabled: true
  driverName: postgres
  connectionString: postgres://user:password@xatu-postgres:5432/xatu?sslmode=disable
  maxIdleConns: 2
  maxOpenConns: 5

store:
  type: memory

geoip:
  enabled: false

tracing:
  enabled: true
  endpoint: tempo:4318
  insecure: true
  sampling:
    rate: 0.1

services:
  coordinator:
    enabled: true # requires persistence to be enabled
    auth:
      enabled: false
      # secret: "super-secret-token"
    nodeRecord:
      maxQueueSize: 51200
      batchTimeout: 5s
      exportTimeout: 30s
      maxExportBatchSize: 512
  eventIngester:
    enabled: true
    clientNameSalt: "example_salt"
    authorization:
      # enabled: false
      # groups:
      #   default:
      #     obscureClientNames: true
      #     users:
      #       user_a:
      #         password: password
      #       shane:
      #         password: warne
      #   restricted:
      #     eventFilter:
      #       eventNames:
      #         - BEACON_API_ETH_V2_BEACON_BLOCK_V2
      #         - BEACON_API_ETH_V1_EVENTS_BLOB_SIDECAR
      #         - BEACON_API_ETH_V1_EVENTS_BLOCK_V2
      #         - BEACON_API_ETH_V1_EVENTS_BLOCK_GOSSIP
      #         - BEACON_API_ETH_V1_EVENTS_CHAIN_REORG_V2
      #         - BEACON_API_ETH_V1_EVENTS_FINALIZED_CHECKPOINT_V2
      #         - BEACON_API_ETH_V1_EVENTS_HEAD_V2
      #     users:
      #       user_b:
      #         password: password
    outputs:
      - name: general
        type: http
        shippingMethod: async
        filter:
          modules:
            - SENTRY
            - RELAY_MONITOR
            - EL_MIMICRY
            - DISCOVERY
          eventNames:
            - BEACON_API_ETH_V1_BEACON_COMMITTEE
            - BEACON_API_ETH_V1_BEACON_BLOB
            - BEACON_API_ETH_V1_EVENTS_BLOB_SIDECAR
            - BEACON_API_ETH_V1_EVENTS_DATA_COLUMN_SIDECAR
            - BEACON_API_ETH_V1_EVENTS_BLOCK
            - BEACON_API_ETH_V1_EVENTS_BLOCK_V2
            - BEACON_API_ETH_V1_EVENTS_BLOCK_GOSSIP
            - BEACON_API_ETH_V1_EVENTS_CHAIN_REORG
            - BEACON_API_ETH_V1_EVENTS_CHAIN_REORG_V2
            - BEACON_API_ETH_V1_EVENTS_FINALIZED_CHECKPOINT
            - BEACON_API_ETH_V1_EVENTS_FINALIZED_CHECKPOINT_V2
            - BEACON_API_ETH_V1_EVENTS_HEAD
            - BEACON_API_ETH_V1_EVENTS_HEAD_V2
            - BEACON_API_ETH_V1_EVENTS_VOLUNTARY_EXIT
            - BEACON_API_ETH_V1_EVENTS_VOLUNTARY_EXIT_V2
            - BEACON_API_ETH_V1_EVENTS_CONTRIBUTION_AND_PROOF
            - BEACON_API_ETH_V1_EVENTS_CONTRIBUTION_AND_PROOF_V2
            - BEACON_API_ETH_V1_PROPOSER_DUTY
            - BEACON_API_ETH_V1_VALIDATOR_ATTESTATION_DATA
            - MEMPOOL_TRANSACTION
            - MEMPOOL_TRANSACTION_V2
            - EXECUTION_STATE_SIZE
            - BEACON_API_ETH_V2_BEACON_BLOCK
            - BEACON_API_ETH_V2_BEACON_BLOCK_V2
            - MEV_RELAY_BID_TRACE_BUILDER_BLOCK_SUBMISSION
            - MEV_RELAY_PROPOSER_PAYLOAD_DELIVERED
            - MEV_RELAY_VALIDATOR_REGISTRATION
            - BEACON_API_ETH_V3_VALIDATOR_BLOCK
            - NODE_RECORD_CONSENSUS
            - NODE_RECORD_EXECUTION
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 302400
          batchTimeout: 5s
          exportTimeout: 30s
          maxExportBatchSize: 64
          compression: gzip
          keepAlive: false
          workers: 500
      - name: attestation
        type: http
        shippingMethod: async
        filter:
          modules:
            - SENTRY
          eventNames:
            - BEACON_API_ETH_V1_EVENTS_ATTESTATION
            - BEACON_API_ETH_V1_EVENTS_ATTESTATION_V2
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 302400
          batchTimeout: 5s
          exportTimeout: 30s
          maxExportBatchSize: 64
          compression: gzip
          keepAlive: true
          workers: 4000
      - name: fork-choice
        type: http
        shippingMethod: async
        filter:
          modules:
            - SENTRY
          eventNames:
            - BEACON_API_ETH_V1_DEBUG_FORK_CHOICE
            - BEACON_API_ETH_V1_DEBUG_FORK_CHOICE_V2
            - BEACON_API_ETH_V1_DEBUG_FORK_CHOICE_REORG
            - BEACON_API_ETH_V1_DEBUG_FORK_CHOICE_REORG_V2
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 50000
          batchTimeout: 1s
          exportTimeout: 30s
          maxExportBatchSize: 4
          compression: gzip
          keepAlive: false
          workers: 10
      - name: libp2p
        type: http
        shippingMethod: async
        filter:
          modules:
            - CL_MIMICRY
            - TYSM
            - SIDECAR
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 500000
          batchTimeout: 1s
          exportTimeout: 30s
          maxExportBatchSize: 64
          compression: gzip
          keepAlive: false
          workers: 4000
      - name: cannon
        type: http
        shippingMethod: sync
        filter:
          modules:
            - CANNON
          eventNames:
            - BLOCKPRINT_BLOCK_CLASSIFICATION
            - BEACON_API_ETH_V1_BEACON_COMMITTEE
            - BEACON_API_ETH_V1_BEACON_BLOB_SIDECAR
            - BEACON_API_ETH_V1_PROPOSER_DUTY
            - BEACON_API_ETH_V2_BEACON_BLOCK_PROPOSER_SLASHING
            - BEACON_API_ETH_V2_BEACON_BLOCK_ATTESTER_SLASHING
            - BEACON_API_ETH_V2_BEACON_BLOCK_BLS_TO_EXECUTION_CHANGE
            - BEACON_API_ETH_V2_BEACON_BLOCK_EXECUTION_TRANSACTION
            - BEACON_API_ETH_V2_BEACON_BLOCK_VOLUNTARY_EXIT
            - BEACON_API_ETH_V2_BEACON_BLOCK_DEPOSIT
            - BEACON_API_ETH_V2_BEACON_BLOCK_WITHDRAWAL
            - BEACON_API_ETH_V2_BEACON_BLOCK_ELABORATED_ATTESTATION
            - BEACON_API_ETH_V2_BEACON_BLOCK
            - BEACON_API_ETH_V2_BEACON_BLOCK_V2
            - BEACON_API_ETH_V1_BEACON_SYNC_COMMITTEE
            - BEACON_API_ETH_V2_BEACON_BLOCK_SYNC_AGGREGATE
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 50000
          batchTimeout: .1s
          exportTimeout: 30s
          maxExportBatchSize: 64
          compression: gzip
          keepAlive: false
          workers: 100
      - name: cannon-vals
        type: http
        shippingMethod: sync
        filter:
          modules:
            - CANNON
          eventNames:
            - BEACON_API_ETH_V1_BEACON_VALIDATORS
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 50000
          batchTimeout: .1s
          exportTimeout: 30s
          maxExportBatchSize: 64
          compression: gzip
          keepAlive: false
          workers: 400
      - name: execution-engine
        type: http
        shippingMethod: async
        filter:
          modules:
            - RPC_SNOOPER
          eventNames:
            - EXECUTION_ENGINE_NEW_PAYLOAD
            - EXECUTION_ENGINE_GET_BLOBS
        config:
          address: http://xatu-vector-http-kafka:9005
          maxQueueSize: 50000
          batchTimeout: 5s
          exportTimeout: 30s
          maxExportBatchSize: 64
          compression: gzip
          keepAlive: false
          workers: 100
